{{- if and .Values.dapr.enabled .Values.redis.enabled }}
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: {{ .Values.dapr.components.pubsub.name }}
  namespace: {{ .Values.global.namespace }}
spec:
  type: {{ .Values.dapr.components.pubsub.type }}
  version: v1
  metadata:
    - name: redisHost
      value: "redis-svc:{{ .Values.redis.service.port }}"
    - name: redisPassword
      value: ""
    - name: consumerID
      value: "{podName}"
{{- end }}
