{{- if .Values.dapr.enabled }}
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: {{ .Values.dapr.components.secrets.name }}
  namespace: {{ .Values.global.namespace }}
spec:
  type: {{ .Values.dapr.components.secrets.type }}
  version: v1
  metadata: []
{{- end }}
